.header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: xx-large;
}
