.recipe-selection-header {
  margin-left: 2rem;
  font-style: italic;
}

.recipe-section-title {
  width: 150px;
  text-align: right;
}

.recipe-section {
  display: flex;
  margin: 20px 0;
}

.recipe-detail,
.recipes-list {
  flex: 1 1 0;
  padding: 0 20px;
}

ul {
  list-style-type: square;
}

ul,
ol {
  margin-left: 1rem;
}
