$card-max-width: 250px;
$card-margin-horizontal: 20px;

.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dish-card {
  display: flex;
  flex-direction: column;
  max-width: $card-max-width;
  margin: 0 $card-margin-horizontal;
}

.dish-image {
  margin-bottom: 10px;
}

.dish-name,
.dish-recipe-count {
  text-align: center;
}
