<div class="dishes">
  <div *ngFor="let dish of dishes | async">
    <a class="dish-card" [routerLink]="['/dishes', dish.name]">
      <img class="dish-image" [src]="dish.photo" />
      <h4 class="dish-name">{{ dish.name }}</h4>
      <div *ngIf="dish.recipes.length > 1; else singular">
        <p class="dish-recipe-count">({{ dish.recipes.length }} recipes)</p>
      </div>
      <ng-template #singular>
        <p *ngIf="dish.recipes.length === 1; else none">
          class="dish-recipe-count">({{ dish.recipes.length }} recipe)
        </p>
      </ng-template>
      <ng-template #none>
        <p class="dish-recipe-count">(No recipes)</p>
      </ng-template>
    </a>
  </div>
  <dish-form-component class="dish-card"></dish-form-component>
</div>
