<div class="dishes">
  <div *ngFor="let dish of dishes | async">
    <a class="dish-card" [routerLink]="['/dishes', dish.name]">
      <img class="dish-image" [src]="dish.photo_path" />
      <h4 class="dish-name">{{ dish.name }}</h4>
      <div *ngIf="dish.num_recipes !== 1; else singular">
        <p class="dish-recipe-count">({{ dish.num_recipes }} recipes)</p>
      </div>
      <ng-template #singular
        ><p class="dish-recipe-count">
          ({{ dish.num_recipes }} recipe)
        </p></ng-template
      >
    </a>
  </div>
  <dish-form-component class="dish-card"></dish-form-component>
</div>
